<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-custom shadow-sm">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" href="{% url "home" %}">MyApp</a>
    <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" 
      aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-3">
        <li class="nav-item">
          <a class="nav-link active fw-medium" aria-current="page" href="{% url "home" %}">Home</a>
        </li>
      </ul>
      <div class="d-flex">
        <a href="{% url "create" %}" class="btn btn-create">+ Create</a>
      </div>
    </div>
  </div>
</nav>