<header>
    <nav class="navbar">
      <div class="logo">🎓 StudentSys</div>
      <ul class="nav-menu">
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'addStudent' %}">Add Student</a></li>
        <li><a href="{% url 'studentList' %}">Student List</a></li>
        <li><a href="{% url 'addTeacher' %}">Add Teacher</a></li>
        <li><a href="{% url 'teacherList' %}">Teacher List</a></li>
        <li><a href="{% url 'addCourse' %}">Add Course</a></li>
        <li><a href="{% url 'courseList' %}">Course List</a></li>
      </ul>
    </nav>
  </header>