<!-- Navbar -->
<header class="bg-indigo-600 text-white shadow-md">
    <div class="max-w-7xl mx-auto px-4 py-4 flex justify-between items-center">
      <h1 class="text-2xl font-bold">📚 Library System</h1>
      <nav class="space-x-6 text-lg">
        <a href="{% url "home" %}" class="hover:text-gray-200">Home</a>
        <a href="{% url "book" %}" class="hover:text-gray-200">Books</a>
        <a href="{% url "studentList" %}" class="hover:text-gray-200">Students</a>
        <a href="#" class="hover:text-gray-200">Logout</a>
      </nav>
    </div>
  </header>